# Archivos temporales de LaTeX
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.run.xml
*.synctex.gz
*.toc
*.xdv

# Archivos temporales extra
*.nav
*.snm
*.vrb
*.backup
*.bak
*.swp

# PDFs de compilación (opcional)
# Si desea versionar el PDF final, comente esta línea
*.pdf